* {
	margin: 0;
	padding: 0;
	border: none; 
	font-family: 'Open Sans', sans-serif;
	color: #6A7686;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, p { margin: 25px; }


html, body {
	height: 100%;
}

body {
    background-color: #EBF0DF;
}

#wrapper {
	width: 960px;
	height: 100%;

	margin: 0px auto;

	text-align: center;

	background-color: #f1f1f1;
	padding: 25px;

	overflow: scroll;
}

#board {
	background-color: #6A7686;
	height: 400px;
	width:  600px;
	display: inline-block;
	margin: 0px 40px;
}

#board:after {
  display: table;
  clear: both;
}

[class$='-cell'] {
	float: left;
	height: 10px;
	width: 10px;
	outline: 1px solid #6A7686;
}

.dead-cell {
	background-color: #FAFCFD;
}

.living-cell {
	background-color: #E24C4C;
}

#pattern-options {
	height: 100%;
	width: 100%;
	display: block;

	/* background-color: #fff; */

	clear: both;
}

button {
	font-size: 14px;

	padding: 10px;

	clear: both;

	display: inline;

	background-color: #EBF0DF;
	border: 1px solid #6A7686;
	
	cursor: pointer;

	border-radius: 10px;
  	box-shadow: 0 3px #6A7686;

}

button:active {
	box-shadow: 0 2px #6A7686;
	transform: translateY(4px);
}

ul {
	font-size: 14px;
	width: 80%;
	text-align: left;
	margin: 25px;
	padding-left: 50px;
}

h4 {
	margin-top: 35px;
}